.Slide {
  &__content {
    display: flex;
    &.--one-column {
      flex-direction: column;
    }
  }

  &__image {
    flex: 0 1 30%;
  }

  &__text {
    padding-left: 2rem;
    flex: 0 1 70%;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }
}